.banner {
    max-width: 1600px;
    min-width: 480px;
    padding: 118px 0 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-dark-color;
    background-image: $banner-gradient, url(../images/banner-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 1200px) {
        &{
            padding: 200px 0;
        }
    }

    @media screen and (min-width: 768px) {
        &__container {
                flex-direction: column;
            }
        }

  
    
    
        &__tittle {
            width: 365px;
            font-weight: 900;
            font-size: 26px;
            line-height: 1.61;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            text-align: center;
            color: $light-color;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

            @media screen and (min-width: 1200px) {
                & {
                    width: 696px;
                    font-weight: 900;
                    font-size: 44px;
                    line-height: 1.37;        
                }
            }
        }
    
        &__button {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
            width: 200px;
            height: 50px;
            border-style: hidden;
            border-radius: 4px;
            cursor: pointer;
            color: $light-color;
            background-color: $accent-color;
            box-shadow: $banner-button-shadow;
            padding: 10px 32px;
            margin-left: auto;
            margin-right: auto;
        }
}

