.banner {
    max-width: 1600px;
    padding: 200px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-dark-color;
    background-image: $banner-gradient, url(../images/banner-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
            flex-direction: column;
        }
    
        &__tittle {
            width: 696px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.37;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            text-align: center;
            color: $light-color;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
    
        }
    
        &__button {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
            width: 200px;
            height: 50px;
            border-style: hidden;
            border-radius: 4px;
            cursor: pointer;
            color: $light-color;
            background-color: $accent-color;
            box-shadow: $banner-button-shadow;
            padding: 10px 32px;
            margin-left: auto;
            margin-right: auto;
        }
}

