body {
    background-color: $light-color;
    color: $main-color;
    font-family: "Roboto","Raleway",sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    display: flex;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

.section {
    padding-top: $large-padding;
    padding-bottom: $large-padding;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $modal-overlay-color;
    transition: opacity $main-animation,
        visibility $main-animation;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.check-icon {
    fill: $light-color;
}

.send-button {
    margin: auto;
    display: inline-flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-style: hidden;
    border-radius: 4px;
    color: $light-color;
    background-color: $light-accent-color;
    box-shadow: $send-button-shadow;
    cursor: pointer;
    transition: background-color $main-animation;
}