.features{
    &__list {
            display: flex;
            flex-wrap: wrap;   
            gap: $list-gap;
        }
    
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 768px) {
                & {
                flex-basis: calc((100% - $list-gap)/2) ;
                }
            }

            @media screen and (min-width: 1200px) {
                & {
                flex-basis: calc((100% - $list-gap * 3)/4) ;
                }
            }
        }
    
        &__title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
        }
    
        &__paragraph {
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.8;
            letter-spacing: 0.03em;
            color: $second-color;
        }
    
        &__icon {
            display: flex;
            width: 100%;
            height: 120px;
            align-items: center;
            justify-content: center;
            background-color: $background-light-color;
            border-radius: 4px;
            margin-bottom: 30px;
        }
}