.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: $light-color;
    border-radius: 4px;

            &__icon {
                width: 100%;
                height: 100%;
                fill: currentColor;
            }
        
            &__button {
                position: absolute;
                display: flex;
                top: 8px;
                right: 8px;
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                border: 1px solid $button-modal-close;
                background-color: $light-color;
                border-radius: 50%;
                cursor: pointer;
                transition: border-color $main-animation,
                    color $main-animation;

                    &:hover,
                    &:focus {
                            border-color: $accent-color;
                            color: $accent-color;
                        }
                    }
            }
        
           

