.navigation {
    display: flex;
    align-items: center;

        &__list {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.15;
            letter-spacing: 0.02em;
            margin-left: 93px;
        }
    
        &__item:not(:last-child) {
            margin-right: 50px;
        }
    
        &__item {
            display: flex;
            margin-top: -32px;
            margin-bottom: -32px;
        }
    
        &__link,
        &__link--current {
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            position: relative;
            text-decoration: none;
            color: $main-color;
            transition: $main-animation;
        }
    
        &__link:focus,
        &__link:hover {
            color: $accent-color;
            outline-color: $accent-color;
        }
    
        &__link--current {
            color: $accent-color;
        }
    
        &__link--current::after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $accent-color;
        }
}

