.submit-form {
    display: flex;
    width: 100%;
    padding: 40px;
    flex-direction: column;
    color: $main-color;

    &__element {
            margin-bottom: 10px;
        }
    
        &__title {
            justify-content: center;
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            letter-spacing: 0.03em;
        }
    
        &__label {
            display: block;
            margin-bottom: 4px;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: $second-color;
        }
    
        &__wrapper {
            position: relative;
        }
    
    
    
        &__input {
            min-height: 40px;
            padding-left: 42px;
        }
    
        &__icon {
            position: absolute;
            top: 11px;
            left: 12px;
            fill: currentColor;
        }
    
        &__input+&__icon {
            color: $main-color;
            transition: $main-animation;
        }
    
        &__input:focus+&__icon {
            color: $light-accent-color;
        }
    
        &__textarea {
            height: 120px;
            padding: 12px 16px;
            resize: none;
        }
    
        &__textarea::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: $placeholder-textarea-color;
        }
    
        &__agreement {
            display: flex;
            color: $second-color;
            margin: 10px 0 30px 0;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            cursor: pointer;
        }
    
        &__checkbox {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    
        &__check-icon {
            fill: none;
            margin-right: 7px;
            border: 2px solid $main-color;
            border-radius: 2px;
            outline: none;
            transition: $main-animation;
        }
    
    
    
        &__checkbox:checked+&__check-icon {
            background-color: $light-accent-color;
            fill: $light-color;
            border: none;
            transition: $main-animation;
        }
    
        &__checkbox:focus-visible+&__check-icon {
            outline: solid 1pt;
        }
    
        &__external {
            margin-left: 5px;
            color: $light-accent-color;
        }
}

