
    $accent-color: #2196f3;
    $light-accent-color: #2196f3;
    $main-color: #212121;
    $second-color: #757575;
    $light-color: #ffffff;
    $dark-color: #000000;
    $background-dark-color: #2f303a;
    $background-light-color: #f5f4fa;
    $element-border-color: #eeeeee;
    $contacts-footer-link-color: rgba(255, 255, 255, 0.6);
    $header-border-color: #ececec;
    $gallery-element-border-color: #eeeeee;
    $overlay-card-color: rgba(33, 150, 243, 0.9);
    $services-description-color: rgba(47, 48, 58, 0.8);
    $icon-color: #afb1b8;
    $footer-icon-color: rgba(255, 255, 255, 0.1);
    $button-modal-close: rgba(0, 0, 0, 0.1);
    $modal-overlay-color: rgba(0, 0, 0, 0.2);
    $submit-element-decoration-color: rgba(33, 33, 33, 0.2);
    $placeholder-textarea-color: rgba(117, 117, 117, 0.5);
    $followus-form-border-color: rgba(255, 255, 255, 0.3);

   
    $team-member-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    $banner-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    $portfolio-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    $gallery-link-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    $send-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  

    $large-padding: 94px;
    $list-gap: 30px;

   
    $banner-gradient: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));

    
    $main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
